body, html {
    height: 100%;
}

.fade{
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("../img/background.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.divider {
    background-color: rgba(255,255,255,0.3);
}

.cards-container {
  column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
}

.card .card-reveal{
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width : 600px) {
  #toast-container {
    min-width: 8% !important;
    top: 80% !important;
    right: 42% !important;
  }
}

.text-center {
  text-align: center;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}

.panel{
  display: inline-block; 
  padding: 32px 48px 0px 48px; 
  border: 1px solid #EEE;
  border-radius: 3px;
}